
<div class="row">
    <div class="col-sm-8">
        <img src=<%= @showup[:photo] %> alt=<%=@showup[:artists] %> height="250">
        <br>
        <h2><br>
            <i class="far fa-calendar-alt"></i>
            <%= @showup[:date] %>
        </h2>
        <h1><br><%= @showup[:artists] %></h1>
        <h3><br>ShowUp pregame at <%= @showup[:pregame_loc] %><br></h3>
        <h3><br><%= @showup[:pregame_time] %><br></h3>
        <p><%= @showup[:pregame_desc] %></p>

    </div>

    <div class="col-sm-4">
        <h3>Fans Signed Up: <%= @going_count %><br><br></h3>
        <% for rsvp in @rsvps %>
            <div class="media">
                <% if rsvp[:going] %>
                <p><br><p>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <div class="media-body">
                    <h5 class="mt-0">
                        <a href="/users/<%= rsvp[:user_id] %>">
                        <%= @users_table.where(id: rsvp[:user_id]).to_a[0][:name] %></a>
                        <small>
                            <!-- only show these links if it's my rsvp -->
                            <% if @current_user && @current_user[:id] == rsvp[:user_id] %>
                                <% @user_going = 1 %>
                                (<a href="/rsvps/<%= rsvp[:id] %>/edit">edit</a> | <a href="/rsvps/<%= rsvp[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    </h5>
                </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<p class="mt-5">
    <% if @user_going %>
        <a href="/showups/<%= @showup[:id] %>/rsvps/edit" class="btn btn-primary">Edit RSVP</a>
    <% elsif @current_user %>
        <a href="/showups/<%= @showup[:id] %>/rsvps/new" class="btn btn-primary">RSVP now!</a>
    <% else %>
        <a href="/logins/new" class="btn btn-danger">Please sign in to RSVP</a>
    <% end %>
 </p>